<?xml version="1.0"?>
<config>
	<modules>
		<Inline_Editable>
			<version>0.7.1</version>
		</Inline_Editable>
	</modules>
	<global>
		<models>
			<editable>
					<class>Inline_Editable_Model</class>
					<resourceModel>editable_resource</resourceModel>
			</editable>
			<editable_resource>
					<class>Inline_Editable_Model_Resource</class>
					<deprecatedNode>editable_mysql4</deprecatedNode>
			</editable_resource>
		</models>
		<blocks>
			<editable>
				<class>Inline_Editable_Block</class>
			</editable>
		</blocks>
		<helpers>
			<editable>
				<class>Inline_Editable_Helper</class>
			</editable>
		</helpers>
	</global>
	<admin>
		<routers>
			<editable>
				<use>admin</use>
				<args>
					<module>Inline_Editable</module>
					<frontName>editable</frontName> 
				</args>
			</editable>
		</routers>
	</admin>
	<adminhtml>
		<events>
			<core_block_abstract_prepare_layout_after>
				<observers>
					<addColumnToGrid>
						<type>model</type>
						<class>Inline_Editable_Model_Observer</class>
						<method>core_block_abstract_prepare_layout_after</method>
					</addColumnToGrid>
				</observers>
			</core_block_abstract_prepare_layout_after>
			<core_block_abstract_prepare_layout_after>
				<observers>
					<addColumnToGridJs>
						<type>model</type>
						<class>Inline_Editable_Model_Observer</class>
						<method>core_block_abstract_prepare_layout_after_javascript_init</method>
					</addColumnToGridJs>
				</observers>
			</core_block_abstract_prepare_layout_after>
		</events>
	</adminhtml>
</config>