<?xml version="1.0"?>
<config>
    <modules>
        <Aydus_BannerEnhanced>
            <version>0.0.3</version>
        </Aydus_BannerEnhanced>
    </modules>
	<adminhtml>
	    <events>
	        <banner_edit_tab_properties_after_prepare_form>
	            <observers>
	                <banner_position>
	                    <class>bannerenhanced/observer</class>
	                    <method>addBannerPositionField</method>
	                </banner_position>
	            </observers>
	        </banner_edit_tab_properties_after_prepare_form>
	        <enterprise_banner_save_after>
	            <observers>
	                <banner_position>
	                    <class>bannerenhanced/observer</class>
	                    <method>saveBannerPosition</method>
	                </banner_position>
	            </observers>	        
	        </enterprise_banner_save_after>
	    </events>
	</adminhtml>    
    <global>
        <models>
            <bannerenhanced>
                <class>Aydus_BannerEnhanced_Model</class>
            </bannerenhanced>
        </models>
		<resources>
			<bannerenhanced_setup>
				<setup>
					<module>Aydus_BannerEnhanced</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</bannerenhanced_setup>
		</resources>             
        <helpers>
            <bannerenhanced>
                <class>Aydus_BannerEnhanced_Helper</class>
            </bannerenhanced>
        </helpers>
        <blocks>
             <bannerenhanced>
                <class>Aydus_BannerEnhanced_Block</class>
             </bannerenhanced>
        </blocks>
        <enterprise>
            <banner>
                <types translate="enhanced">
                    <enhanced>Enhanced</enhanced>
                </types>
            </banner>
        </enterprise>
    </global>
</config>
