<?xml version="1.0"?>

<config>
    <modules>
        <Aydus_AjaxCms>
            <version>0.0.1</version>
        </Aydus_AjaxCms>
    </modules>
    <frontend>
        <routers>
            <aydus_ajaxcms>
                <use>standard</use>
                <args>
                    <module>Aydus_AjaxCms</module>
                    <frontName>ajaxcms</frontName>
                </args>
            </aydus_ajaxcms>
        </routers>
    </frontend>
</config>