/*----------------------------------------------------------------------------*/
/* Banner Enhanced (Home)
/*----------------------------------------------------------------------------*/

.cms-home #banners-container {

    $desktopBannerHeight: 460;
    $mobileBannerHeight: 423;

    .banners {
        width: 100%; // Fix issue switching between desktop/mobile.

        @include breakpoint(mobile) {
            overflow: visible !important;
        }

        > .banner {

            // Some of these styles will be set by the plugin (by default) but setting them here helps avoid flash-of-unstyled-content
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            max-width: 1450px;
            padding: 0;

            .content-container {

                .image {
                    background-repeat: no-repeat;
                }

                .image.desktop {
                    height: $desktopBannerHeight*1px;
                    background-position: center top;

                    @include breakpoint(mobile) {
                        background-position: -9999px -9999px; // Hide.
                    }
                }

                .image.mobile {
                    height: $mobileBannerHeight*1px;
                    background-image: none;
                    background-position: -9999px -9999px; // Hide.

                    @include breakpoint(mobile) {
                        background-position: center top; // Show.
                    }
                }

                .product-container {
                    position: absolute;
                    left: 33%;
                    top: 50px;

                    @include breakpoint(max, 1300) {
                        left: 8%;
                        top: 50px;
                    }

                    @include breakpoint(tabletLandscape) {
                        left: 4%;
                    }

                    @include breakpoint(mobile) {
                        display: none;
                    }

                    img {
                        max-height: 350px; // Reduce image size to fit tablet. Doesn't work adding this to container but should.
                        @include responsive-img();
                    }
                }

                // IMPORTANT: Template1 & template2 are very similar but separate for future proofing.
                // Changes to template1 will generally be applied to template2.
                .content.template1 {
                    padding: 9% 10% 0 46%;

                    @include breakpoint(mobile) {
                        padding: 4% 0 0 0;
                        text-align: center;
                    }

                    .content-inner-tube {

                        h2 {
                            margin: 0;
                            padding: 0;
                            @include responsive-font-size(46.5);
                            font-weight: normal;
                            color: #fefefe;

                            span {
                                font-weight: bold;
                                color: #f6d231;
                            }

                            @include breakpoint(mobile) {
                                @include responsive-font-size(38);
                            }
                        }

                        p {
                            @include responsive-font-size(14);
                            @include responsive-line-height(24);
                            color: #ffffff;

                            @include breakpoint(mobile) {
                                display: none;
                            }
                        }

                        .read-more {
                            display: none;
                            @include responsive-font-size(11.2);
                            color: #eabd07;

                            @include breakpoint(mobile) {
                                display: block;
                            }
                        }

                        .blink-container {

                            @include breakpoint(mobile) {
                                position: absolute;
                                bottom: 16%;
                                text-align: center;
                                width: 100%;
                            }

                            .blink {
                                @include button-blink1;
                            }
                        }
                    }
                }

                // IMPORTANT: Template1 & template2 are very similar but separate for future proofing.
                // Changes to template2 will generally be applied to template1.
                .content.template2 {
                    float: right;
                    padding: 5% 5% 0 0;

                    @include breakpoint(mobile) {
                        float: none;
                        padding: 0;
                        text-align: center;
                    }

                    .content-inner-tube {
                        max-width: 500px;
                        padding: 18px 25px 23px 59px;
                        text-align: right;
                        background-color: rgba(16, 10, 8, 0.51); // Set container bacground and opacity (not content).

                        @include breakpoint(mobile) {
                            max-width: none;
                            min-height: 130px;
                            padding: 3% 1% 0 1%;
                            text-align: center;
                        }

                        h2 {
                            margin: 0;
                            padding: 0;
                            @include responsive-font-size(47.5);
                            font-weight: normal;
                            color: #fefefe;

                            span {
                                font-weight: bold;
                                color: #f6d231;
                            }

                            @include breakpoint(mobile) {
                                @include responsive-font-size(38);
                            }
                        }

                        p {
                            @include responsive-font-size(16);
                            @include responsive-line-height(24);
                            color: #ffffff;

                            @include breakpoint(mobile) {
                                display: none;
                            }
                        }

                        .read-more {
                            display: none;
                            @include responsive-font-size(11.2);
                            color: #eabd07;

                            @include breakpoint(mobile) {
                                display: block;
                            }
                        }

                        .blink-container {

                            @include breakpoint(mobile) {
                                position: absolute;
                                bottom: 16%;
                                left: 0;
                                right: 0;
                                text-align: center;
                            }

                            .blink {
                                @include button-blink1;
                            }
                        }
                    }
                }
            }
        }

        .navigation {
            position: absolute;
            z-index: 102;
            top: 25%;
            width: 47px;
            height: 108px;
            cursor: pointer;

            @include breakpoint(mobile) {
                display: none !important;
            }
        }

        .cycle-next {
            right: 0;
            @include use-sprite('banner-next');

            &:hover {
                @include use-sprite('banner-next-hover');
            }
        }

        .cycle-prev {
            left: 0;
            @include use-sprite('banner-prev');

            &:hover {
                @include use-sprite('banner-prev-hover');
            }
        }
    }

    /*----------------------------------------------------------------------------*/
    /* Cycle Pager
    /*----------------------------------------------------------------------------*/

    .cycle-pager {
        position: absolute;
        z-index: 102;
        bottom: 3.5%;
        width: 100%;
        text-align: center;

        @include breakpoint(mobile) {
            bottom: 10%;
        }

        span {
            margin-right: 0.15%;
            @include use-sprite('banner-pager');
            display: inline-block;
            cursor: pointer;

            &.cycle-pager-active {
                @include use-sprite('banner-pager-active');
                display: inline-block;
            }
        }
    }
}