/*----------------------------------------------------------------------------*/
/* Email Signup Overlay
/*----------------------------------------------------------------------------*/

/*
.jqmOverlay {
    background: #ffffff;
}

.signup-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 800px;
    height: 420px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.21), 1px 2px 1px rgba(0,0,0,.21);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,.21), 1px 2px 1px rgba(0,0,0,.21);
    box-shadow: 0 0 5px rgba(0,0,0,.21), 1px 2px 1px rgba(0,0,0,.21);

    .close {
        @include use-sprite('close-email-pop');
    }
}
*/