<?xml version="1.0"?>
<!-- 
/**
 * Herbdoc development fixtures
 * 
 * @category    Abp
 * @package     Abp_Init
 * @author		Aydus <davidt@aydus.com>
 */
-->
<config>
    <modules>
        <Abp_Init>
            <version>0.1.0</version>
        </Abp_Init>
    </modules>
    <global>
        <resources>
            <abp_init_setup>
                <setup>
                    <module>Abp_Init</module>
                </setup>
            </abp_init_setup>
        </resources>
    </global>
</config>