<?xml version="1.0"?>
<config>
	<modules>
		<Fishpig_Wordpress_Addon_CPT>
			<version>1.2.7.2</version>
			<fishpig>
				<name>Custom Post Types</name>
				<url>http://fishpig.co.uk/magento/wordpress-integration/custom-post-types/</url>
			</fishpig>
		</Fishpig_Wordpress_Addon_CPT>
	</modules>
	<global>
		<blocks>
			<wp_addon_cpt>
				<class>Fishpig_Wordpress_Addon_CPT_Block</class>
			</wp_addon_cpt>
		</blocks>
		<helpers>
			<wp_addon_cpt>
				<class>Fishpig_Wordpress_Addon_CPT_Helper</class>
			</wp_addon_cpt>
		</helpers>
		<models>
			<wp_addon_cpt>
				<class>Fishpig_Wordpress_Addon_CPT_Model</class>
			</wp_addon_cpt>
		</models>
		<events>
			<wordpress_match_routes_before>
				<observers>
					<wp_addon_cpt>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_CPT_Model_Observer</class>
						<method>matchRoutesObserver</method>
					</wp_addon_cpt>
				</observers>
			</wordpress_match_routes_before>
			<wordpress_post_collection_load_before>
				<observers>
					<wp_addon_cpt>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_CPT_Model_Observer</class>
						<method>postCollectionLoadBeforeObserver</method>
					</wp_addon_cpt>
				</observers>
			</wordpress_post_collection_load_before>
			<wordpress_post_collection_load_after>
				<observers>
					<wp_addon_cpt>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_CPT_Model_Observer</class>
						<method>addDataToPostCollectionObserver</method>
					</wp_addon_cpt>
				</observers>			
			</wordpress_post_collection_load_after>
			<wordpress_post_load_after>
				<observers>
					<wp_addon_cpt>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_CPT_Model_Observer</class>
						<method>addDataToPostObserver</method>
					</wp_addon_cpt>
				</observers>			
			</wordpress_post_load_after>
			<wordpress_association_post_collection_load_before>
				<observers>
					<wp_addon_cpt>
						<type>singleton</type>
						<class>wp_addon_cpt/observer</class>
						<method>wordpressAssociationPostCollectionLoadBeforeObserver</method>
					</wp_addon_cpt>
				</observers>
			</wordpress_association_post_collection_load_before>
		</events>
	</global>
	<frontend>
		<routers>
			<wp_addon_cpt>
				<use>wordpress_addon</use>
				<args>
					<module>Fishpig_Wordpress_Addon_CPT</module>
					<frontName>wp_addon_cpt</frontName>
				</args>
			</wp_addon_cpt>
		</routers>
		<layout>
			<updates>
				<wp_addon_cpt>
					<file>wordpress/cpt.xml</file>
				</wp_addon_cpt>
			</updates>
		</layout>
	</frontend>
</config>