<?xml version="1.0"?>
<config>
  <modules>
    <Emizen_Postlayoutupdate>
      <version>0.1.0</version>
    </Emizen_Postlayoutupdate>
  </modules>
  <global>
    <helpers>
      <postlayoutupdate>
        <class>Emizen_Postlayoutupdate_Helper</class>
      </postlayoutupdate>
    </helpers>
	<models>
	  <postlayoutupdate>
		<class>Emizen_Postlayoutupdate_Model</class>
		<resourceModel>postlayoutupdate_mysql4</resourceModel>
	  </postlayoutupdate>
	</models>
    <events>
	  <controller_action_layout_load_before> <!-- identifier of the event we want to catch -->
        <observers>
          <controller_action_layout_load_before_handler> <!-- identifier of the event handler -->
            <type>model</type> <!-- class method call type; valid are model, object and singleton -->
            <class>postlayoutupdate/observer</class> <!-- observers class alias -->
            <method>UpdateLayout</method>  <!-- observer's method to be called -->
            <args></args> <!-- additional arguments passed to observer -->
          </controller_action_layout_load_before_handler>
        </observers>
      </controller_action_layout_load_before>
    </events>
  </global>
</config> 