<?xml version="1.0"?>
<config>
    <global>
        <blocks>
            <customer>
                <rewrite>
                    <account_navigation>Aydus_AccountNavigation_Block_Account_Navigation</account_navigation>
                </rewrite>
            </customer>
        </blocks>
    </global>
</config>